<!DOCTYPE html>
<html>
  <head>
    <title>BusdeV2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
          
      <p class="navbar-text pull-right">
      <% if usuario_signed_in? %>
        Logado como: <strong><%= current_usuario.nome %></strong>.
        <%= link_to 'Editar perfil', edit_usuario_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_usuario_session_path, method: :delete, :class => 'navbar-link'  %>
      <% else %>
        <%= link_to "Registrar-se", new_usuario_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_usuario_session_path, :class => 'navbar-link'  %>
      <% end %>
  </body>
</html>
